---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import image_1 from "../../public/images/image-1.webp";
import image_2 from "../../public/images/image-2.webp";
import image_3 from "../../public/images/image-3.webp";
import image_4 from "../../public/images/image-4.webp";
import image_5 from "../../public/images/image-5.webp";
import { getEntry } from "astro:content";

const introduction = await getEntry("posts", "introduction");
const { Content: IntroductionContent } = await introduction.render();
const ourMission = await getEntry("posts", "our-mission");
const { Content: OurMissionContent } = await ourMission.render();

const props = {
  title: "",
  description:
    "Welcome to Temple Aviv Judea. Come visit us! We are located in Fullerton, CA. We worship the L-RD on Shabbat and we are committed to the Good News of Messiah by proclaiming the fullness of Yeshua our Savior. ",
};
---

<Layout {...props}>
  <main>
    <h2 set:text="Welcome to Temple Aviv Judea" />
    <IntroductionContent />
    <div id="cta">
      <style>
        @scope (#cta) {
          :scope {
            display: inline-flex;
            gap: var(--size-7);
            margin-top: var(--size-7);
          }
        }
      </style>
      <a href="" class="button primary" set:text="Join Us" />
      <a href="" class="button" set:text="Learn More" />
    </div>

    <section>
      <div id="photo-gallery">
        <style>
          @scope (#photo-gallery) {
            :scope {
              overflow: hidden;
              padding: var(--size-5);
              gap: var(--size-5);
              justify-content: center;
              display: flex;
              > div {
                aspect-ratio: 9/10;
                width: 11rem;
                border-radius: var(--radius-2);
                overflow: hidden;
                flex: none;
                > img {
                  object-fit: cover;
                  block-size: 100%;
                }
              }
            }
          }
        </style>
        <div>
          <Image alt="" width="3744" height="5616" src={image_1} />
        </div>
        <div>
          <Image alt="" width="3936" height="2624" src={image_2} />
        </div>
        <div>
          <Image alt="" width="5760" height="3840" src={image_3} />
        </div>
        <div>
          <Image alt="" width="2400" height="3000" src={image_4} />
        </div><div>
          <Image alt="" width="4240" height="2384" src={image_5} />
        </div>
      </div>
    </section>
    <section>
      <style>
        @scope (.card-list) {
          :scope {
            margin-top: var(--size-7);
            gap: var(--size-7);
            display: flex;
            flex-direction: column;
          }
        }
      </style>
      <h3 set:text="Upcoming Events" />
      <div class="card-list">
        <div class="card">
          <style>
            @scope (.card) {
              :scope {
                border: 1px solid var(--surface-2);
                border-radius: var(--radius-2);
                box-shadow: var(--shadow-2);
                > * {
                  margin: var(--size-5);
                }
              }
            }
          </style>
          <div>
            <h3 set:text="Service" />
            <time datetime="" set:text="21 January 2024  •  11:00" />
          </div>
          <div>
            <!-- <p>Location: Central Park</p> -->
            <p set:text="Join us for our weekly service." />
            <br />
            <a href="" class="button" set:text="Watch on YouTube" />
          </div>
          <details name="accordion">
            <summary
              ><span set:text="Hador-haba Meeting" />
               •
              <time datetime="" set:text="14:00" /></summary
            >
            <p
              set:text="Our youth group gathers after service for a comprehensive and engaging Bible discussion."
            />
          </details>
          <details name="accordion">
            <summary
              ><span set:text="Morning Prayer" />  •  <time
                datetime=""
                set:text="10:00"
              /></summary
            >
            <p
              set:text="A special time before service for members and visitors to pray together for the peace of Jerusalem as well as special prayer requests."
            />
          </details>
          <details name="accordion">
            <summary set:text="Children  •  During Service" />
            <p
              set:text="Children have a special time during the service where they are taught important lessons from G-d."
            />
          </details>
        </div>
        <div class="card">
          <div>
            <h3 set:text="Purim" />
            <time datetime="" set:text="23 March 2024" />
          </div>
          <div>
            <!-- <p>Location: Central Park</p> -->
            <p set:text="Celebrate Purim with us." />
          </div>
        </div>
      </div>
    </section>
    <section>
      <h3 set:text={ourMission.data.title} />
      <OurMissionContent />
    </section>
  </main>
</Layout>
