---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import jerusalemBanner from "../../public/images/jerusalem-banner.webp";
import Layout from "../layouts/Layout.astro";

const introduction = await getEntry("posts", "introduction");
const { Content: IntroductionContent } = await introduction.render();
const ourMission = await getEntry("posts", "our-mission");
const { Content: OurMissionContent } = await ourMission.render();

const props = {
	title: "",
	description:
		"Welcome to Temple Aviv Judea. Come visit us! We are located in Fullerton, CA. We worship the L-RD on Shabbat and we are committed to the Good News of Messiah by proclaiming the fullness of Yeshua our Savior. ",
};

const now = new Date();
const day = now.getDay();
const diff = 6 - day;

const nextSaturday = new Date();
nextSaturday.setUTCDate(now.getUTCDate() + diff);
nextSaturday.setUTCHours(11, 0, 0, 0);

const eventEndDate = new Date(nextSaturday.valueOf());
eventEndDate.setUTCHours(13, 0, 0, 0);

const options = { year: "numeric", month: "long", day: "numeric" };

const formattedStartDate = `${nextSaturday.toLocaleDateString(
	"en-US",
	options,
)} • ${nextSaturday.getUTCHours() % 12 || 12} :00AM`;
const formattedEndDate = `${eventEndDate.getUTCHours() % 12 || 12}:00PM`;

const eventDate = `${formattedStartDate} - ${formattedEndDate}`;
const datetimeStartString = nextSaturday.toISOString().slice(0, 19);
const datetimeEndString = eventEndDate.toISOString().slice(0, 19);
---

<Layout {...props}>
  <main>
    <h2 set:text="Welcome to Temple Aviv Judea" />
    <IntroductionContent />
    <section>
      <div id="photo-gallery">
        <Image alt="" src={jerusalemBanner} />
      </div>
    </section>
    <section>
      <style>
        @scope (.card-list) {
          :scope {
            margin-top: var(--size-7);
            gap: var(--size-7);
            display: flex;
            flex-direction: column;
          }
        }
      </style>
      <h3 set:text="Upcoming Events" />
      <div class="card-list">
        <div class="card">
          <style>
            @scope (.card) {
              :scope {
                border: 1px solid var(--surface-2);
                border-radius: var(--radius-2);
                box-shadow: var(--shadow-2);
                > * {
                  margin: var(--size-5);
                }
              }
            }
          </style>
          <div>
            <h3 set:text="Service" />
            <time datetime={datetimeStartString} set:text={eventDate} />
          </div>
          <div>
            <!-- <p>Location: Central Park</p> -->
            <p set:text="Join us for our weekly service." />
            <br />
            <a href="" class="button" set:text="Watch on YouTube" />
          </div>
          <details name="accordion">
            <summary
              ><span set:text="Hador-Haba Meeting" />
               •
              <time datetime="" set:text="14:00" /></summary
            >
            <p
              set:text="Our youth group gathers after service for a comprehensive and engaging Bible discussion."
            />
          </details>
          <details name="accordion">
            <summary
              ><span set:text="Worship and Dance • During Service" />
            </summary>
            <p
              set:text="Worship and Dance is led by Marianne and is a critical part of our service. We love worshipping the Lord with our beautiful movements."
            />
          </details>
          <details name="accordion">
            <summary
              ><span set:text="Morning Prayer" />  •  <time
                datetime=""
                set:text="10:00"
              /></summary
            >
            <p
              set:text="A special time before service for members and visitors to pray together for the peace of Jerusalem as well as special prayer requests."
            />
          </details>
          <details name="accordion">
            <summary set:text="Shabbat School  •  During Service" />
            <p
              set:text="Children have a special time during the service where they are taught important lessons from G-d."
            />
          </details>
          <details name="accordion">
            <summary set:text="Oneg (lunch)  •  After Service" />
            <p
              set:text="Oneg (lunch) is a place where members and visitors can gather to eat with one another. This is time to get to know each other and fellowship together."
            />
          </details>
          <details name="accordion">
            <summary set:text="Women's Group  •  After Service" />
            <p
              set:text="Women's Group is a place where women of Temple Aviv Judea and visitors alike can come together and fellowship, pray, eat, and much more!"
            />
          </details>
        </div>
        <div class="card">
          <div>
            <h3 set:text="Purim" />
            <time datetime="" set:text="23 March 2024" />
          </div>
          <div>
            <!-- <p>Location: Central Park</p> -->
            <p set:text="Celebrate Purim with us." />
          </div>
        </div>
      </div>
    </section>
    <section>
      <h3 set:text={ourMission.data.title} />
      <OurMissionContent />
    </section>
  </main>
</Layout>
